.anketa {
	// .row-flex();
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__slider {
		margin: 0 15px;
		// .col();
		// .size(4);
		// .size-xl(8);
		// .size-md(10);
		// .size-sm(12);
		// min-width: 380px;
		width: 500px;
		max-width: 100%;
		.xl(margin-bottom, 17px);
	}

	&__text {
		// padding: 0 30px;
		margin: 0 15px;
		// .col();
		// .size(8);
		// .size-xl(8);
		// .size-md(10);
		// .size-sm(12);
	}

	&__params {
		margin-bottom: 15px;

		li {
			margin-bottom: 10px; 
			list-style: disc;
			list-style-position: inside;
		}
	}

	&__descr {
		margin-bottom: 30px;
		max-width: 500px;
	}

	.swiper-button-next, .swiper-button-prev {
		background-color: @accent;
		// opacity: 0.4;
		border-radius: 50%;
		width: 50px;
		height: 50px;

		-webkit-tap-highlight-color: transparent;
		user-select: none;
		outline: none;
	}
}