.map {
	padding-top: 56px;
	
	&__content {
		background: url(../img/map.png) no-repeat center/contain;
		min-height: 440px;
		display: flex;
		justify-content: center;
		align-items: center;

		.md(min-height, 145px);
	}
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	&__item {
		position: relative;
		margin-bottom: 40px;
		padding: 0 40px;
		font-size: 40px;
		font-weight: 400;
		color: @accent;
		text-transform: uppercase;
		letter-spacing: 0.1em;

		.xl-block({
			font-size: 20px;
			padding: 0 20px;
			margin-bottom: 25px;
		});

		.sm-block({
			font-size: 16px;
			padding: 0 10px;
			margin-bottom: 15px;
		});

		&+&::before {
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			margin-top: -6px;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: @accent;

			.xl-block({
				width: 7px;
				height: 7px;
				margin-top: -3px;
			});
		}
	}
}