.btn {
	display: inline-block;
	padding: 20px 40px;

	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.15em;

	color: #010101;
	background-color: transparent;

	transition: all 0.3s ease;
	border: 1px solid @accent;
	text-decoration: none;
	text-align: center;
	cursor: pointer;

	.sm-block({
		width: 100%;
	});

	&:hover,
	&:active,
	&:focus {
		color: @white;
		background-color: @accent;
	}
}

.submit-btn {
	padding: 5px 20px;
	color: @white;
	background-color: @accent;

	font-size: 15px;
	line-height: 28px;
	// height: 42px;

	&:hover,
	&:active,
	&:focus {
		color: @accent;
		background-color: @white;
	}
}