// USER VARIABLES SECTION
@accent: #b7a57e;
@white: #ffffff;
@black: #000000;
@grey: #f5f5f5;


@fontsize: 18px; // Body Font Size
@lineheight: 1.7; // Document Line Height

@userfont: 'Montserrat', sans-serif;
@systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

.reset();

*,
*::before,
*::after {
    box-sizing: border-box;
}

// .debugGrid{
// 	.debug(rgba(0, 0, 0, 0.3), 1px #ff0 solid);
// }

.container {
    .wrapper();
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.eot');
	src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-Medium.woff') format('woff'),
			url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.eot');
	src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-Medium.woff') format('woff'),
			url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ButlerStencil';
	src: url('../fonts/ButlerStencil-Regular.eot');
	src: url('../fonts/ButlerStencil-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ButlerStencil-Regular.woff') format('woff'),
			url('../fonts/ButlerStencil-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: @userfont;
    font-size: @fontsize;
    // .md(font-size, 16px);
    // .xs(font-size, 14px);
    line-height: @lineheight;
    font-weight: 300;
    color: @black;
    text-rendering: optimizeSpeed;
    // position: relative;
}

.section__title {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.067;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}


/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
// Remove all mouse-triggered focus styles without breaking keyboard accessibility
*:focus:not(:focus-visible) { 
    outline: none !important; 
}

// fix safari
input[type='submit'] { 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	appearance: none; 
}